Repository Signor1/stylus-deploy-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --plugin=prettier-plugin-solidity

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.sol": ["prettier --write --plugin=prettier-plugin-solidity"]
}

feat: add contracts
  .husky/pre-commit
  packages/contracts/solidity/.gitignore
  packages/contracts/solidity/foundry.toml
  packages/contracts/solidity/remappings.txt
  packages/contracts/stylus/.cargo/config.toml
  packages/contracts/stylus/Cargo.toml
  packages/contracts/stylus/rust-toolchain.toml
  packages/contracts/stylus/templates/token/Cargo.toml
  packages/contracts/stylus/templates/token/src/lib.rs
Due: none

feat: Contracts Workspace Initialization
  .gitmodules
  packages/contracts/solidity/.github/workflows/test.yml
  packages/contracts/solidity/README.md
  packages/contracts/solidity/foundry.lock
  packages/contracts/solidity/script/Counter.s.sol
  packages/contracts/solidity/src/Counter.sol
  packages/contracts/solidity/test/Counter.t.sol
Due: prettier --write, prettier --write --plugin=prettier-plugin-solidity

feat: SDK Package Scaffold
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/__tests__/utils.test.ts
  packages/sdk/src/constants/index.ts
  packages/sdk/src/core/deployer.ts
  packages/sdk/src/core/template-manager.ts
  packages/sdk/src/index.ts
  packages/sdk/src/react.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: Docs Structure
  docs/README.md
  docs/api/sdk.md
  docs/architecture/overview.md
  docs/examples/token-deployment.md
  docs/guides/installation.md
  docs/guides/quickstart.md
  docs/troubleshooting/common-issues.md
  docs/troubleshooting/faq.md
Due: prettier --write

feat: implement Template Registry contract (PR #6)
  packages/contracts/solidity/foundry.toml
  packages/contracts/solidity/script/Counter.s.sol
  packages/contracts/solidity/src/Counter.sol
  packages/contracts/solidity/src/TemplateRegistry.sol
  packages/contracts/solidity/test/Counter.t.sol
  packages/contracts/solidity/test/TemplateRegistry.t.sol
Due: prettier --write --plugin=prettier-plugin-solidity

feat: Universal Deployer Contract
  packages/contracts/solidity/src/UniversalDeployer.sol
  packages/contracts/solidity/test/UniversalDeployer.t.sol
Due: prettier --write --plugin=prettier-plugin-solidity

fix: CI workflow
  .eslintignore
  packages/cli/package.json
  packages/contracts/package.json
  packages/demo-app/package.json
Due: prettier --write

feat: CI workflow fix & stylus contract
  CONTRIBUTING.md
  README.md
  packages/contracts/stylus/templates/token/src/lib.rs
Due: prettier --write

feat: stylus contract
  packages/contracts/stylus/templates/multisig/Cargo.toml
  packages/contracts/stylus/templates/multisig/src/lib.rs
  packages/contracts/stylus/templates/nft/Cargo.toml
  packages/contracts/stylus/templates/nft/src/lib.rs
Due: none

feat: governance contract
  .gitignore
  packages/contracts/stylus/templates/governance/Cargo.toml
  packages/contracts/stylus/templates/governance/src/lib.rs
Due: none
